/* Resetting default margins, padding, font-family, and box-sizing */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Banner styles */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Background image and properties */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('image/Living.jpg');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

/* Navbar styles */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo styles */
.logo {
    width: 120px;
    cursor: pointer;
}

/* Navigation list styles */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/* Navigation link styles */
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/* Styling for hover effect on navigation links */
.navbar ul li::after {
    /* Adds an underline effect */
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* Hover styling */
.navbar ul li:hover::after {
    width: 100%;
}

/* Footer styles */
.footer {
    background-color: darkslategrey; 
    width: 100%;
    position: absolute;
    text-align: left;
    font-size: 15px;
    padding: 20px ;
    top: 700px;
    color: black;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* Styling for the newsletter signup form */
#signup {
    background: #00bfff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 5px;
}

/* Styling for the title of the signup form */
#signup h2 {
    margin-bottom: 0px;
}

/* Styling for the email input field */
#signup input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid slategrey;
    border-radius: 4px;
}

/* Styling for the submit button */
#signup input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #009688;
    color: fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

/* Styling for the submit button on hover */
#signup input[type="submit"]:hover {
    background-color: white;
}

/* Copyright information styles */
.copyright {
    position: absolute;
    text-align: left;
    margin-left: 400px;
    top: 50px;
}

/* Paragraph in the footer */
.footer-para {
    margin-left: 400px;
    margin-top: 30px;
}

/* Styling for the unordered list in the footer links */
.footer-links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/* Styling for the heading in footer links */
.footer-links h4 {
    margin-right: 50px;
}

/* Additional styling for the unordered list in footer links */
.footer-links ul {
    text-decoration: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

/* Styling for each list item in footer links */
.footer-links ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 1px;
    margin-right: 50px;
    margin-top: 10px;
}

/* Styling for the links in footer links */
.footer-links ul li a {
    text-decoration: none;
    color: #009688;
}
