
/* Login Page Styling */
/* Content Styles */
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

/* Paragraph for content styles */
.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    width: 60%;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 1%;
    letter-spacing: 2px;
}

.content .con{
    width: 160px;
    height: 40px;
    background-color: #009688;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.content .con a{
    text-decoration: none;
    color: #000;
    transition: .3s 
}

.con:hover{
    background-color: #fff;
}

.content span{
    color:#009688;
    font-size: 60px;
}

.form{
    width: 300px;
    height: 500px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 150px;
    left: 1100px;
    color: #fff;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    
}

#usernameFeedback {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color:#009688;
    text-align: left;
    margin-left: 15px;
}

input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
}

#passwordFeedback {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #009688;
    text-align: left;
    margin-left: 15px;
}


.form h2{
    width: 220px;
    position: relative;
    font-family:sans-serif;
    color:#009688;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 0px;
    padding: 8px;  
    right: -10px;
    text-align: center;
    
    
}

/* Styles for input fields within the form */
.form input {
    width: 220px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #009688;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

/* Focus styles for input fields */
.form input:focus {
    outline: none;
}

/* Placeholder text style */
::placeholder {
    color: white;
    font-family: Arial;
}

/* Styles for the login button */
.button {
    width: 220px;
    height: 40px;
    background: #009688;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

/* Hover effect for the login button */
.button:hover {
    background: #fff;
    color: #009688;
}

/* Styles for links within the form */
.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

/* Styles for links within the form */
.form .link a {
    text-decoration: none;
    color: #009688;
}

/* Styling for the 'loginwith' class */
.loginwith {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

/* Icon link styles */
.icon a {
    text-decoration: none;
    color: #fff;
}

/* Icon styles for ion-icons */
.icon ion-icon {
    color: white;
    font-size: 25px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

/* Hover effect for ion-icons */
.icon ion-icon:hover {
    color: #009688;
}


@media screen and (max-width: 480px) {
    .content {
        font-size: 9px;
        padding: 5px;
        width: 100%;
    }
    .form {
        width: 65%; /* Adjust for full-width mobile form */
        left: 20%; /* Reset position for mobile */
    }
    .content h1 {
        font-size: 35px; /* Adjust heading size for mobile */
    }
    .navbar {
        padding: 10px; /* Adjust navbar padding for mobile */
        font-size: 10px;
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Styles specific to tablet-sized screens go here */
    .content {
        font-size: 16px; /* Adjust font size for tablets */
        padding: 10px; /* Adjust padding for tablets */
    }
    .form {
        width: 50%; /* Adjust form width for tablets */
        left: 30%; /* Center the form horizontally for tablets */
    }
    .content h1 {
        font-size: 45px; /* Adjust heading size for tablets */
    }
    .navbar {
        padding: 20px; /* Adjust navbar padding for tablets */
    }
}


/*-------------------------------------------------------*/
/* Styling for Home Page */
/*-------------------------------------------------------*/

/* Styling for the container holding home page details */
.Homepage-details {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

/* Styling for the main heading in the home page */
.Homepage-details h1 {
    font-size: 35px;
    margin-top: 160px;
    padding: 10px;
}

/* Styling for the paragraphs in the home page details */
.Homepage-details .p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 15px;
}

/* Styling for the home page button */
.Homepage-button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Styling for the button hover effect */
.Homepage-button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

/* Increasing button width on hover */
.Homepage-button:hover span {
    width: 100%;
}

/* Removing border on button hover */
.Homepage-button:hover {
    border: none;
}



/* @media for home page ( phone size ) */

@media screen and (max-width: 480px) {
    .Homepage-content {
        font-size: 14px;
        padding: 5px;
        width: 100%;
    }

    .Homepage-details h1 {
        font-size: 30px; /* Adjust heading size for mobile */
    }

    .Homepage-navbar {
        padding: 10px; /* Adjust navbar padding for mobile */
        font-size: 10px;
        width: 100%;
    }

    .footer {
        flex-direction: column; /* Stack footer content vertically */
        align-items: center; /* Center content */
        height: 700px;
    }

    #signup {
        width: 80%; /* Adjust width */
        margin-bottom: 20px; /* Add some space */
    }

    .footer-para {
        text-align: center; /* Center text */
        font-size: 15px; /* Adjust font size */
        margin: 20px 0; /* Add space */
        margin-top: 120px;
    }

    .footer-links {
        text-align: center; /* Center links */
    }

    .footer-links ul {
        padding: 0;
        margin: 0;
        margin-left: 120px;
    }

    .footer-links ul li {
        margin: 10px 0; /* Add space between links */
        margin-right: 150px;
    }
    .footer-links h4{
        text-align: center;
        margin-right: 150px;
    }

    .copyright {
        text-align: center; /* Center text */
        font-size: 14px; /* Adjust font size */
        margin: 10px 0; /* Add space */
        margin-top: 200px;
    }
}

/* @media for home page ( tablet size ) . */

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Styles specific to tablet-sized screens go here */
    .Homepage-content {
        font-size: 16px; /* Adjust font size for tablets */
        padding: 10px; /* Adjust padding for tablets */
    }

    .Homepage-details h1 {
        font-size: 45px; /* Adjust heading size for tablets */
    }
    .Homepage-navbar {
        padding: 20px; /* Adjust navbar padding for tablets */
    }
}


/* -------------------------------------- */
/* Work Page Styling */
/* -------------------------------------- */

/* Styling for the section containing work-related content */
.works {
    text-align: center;
    color: #009688;
    margin-bottom: 0%;
}

/* Styling for the heading in the work section */
.works h3 {
    font-size: 24px;
}

/* Styling for the container holding work items */
.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Styling for individual work items in the container */
.work-container div {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
    width: 12%;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/* Styling for images within the work items */
.work-container div img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

/* Hover effect on images within work items */
.work-container div:hover img {
    transform: scale(1.05);
}


/* Adjustments for screens up to 480 pixels wide */
@media screen and (max-width: 480px) {
    /* Navbar adjustments for smaller screens */
    .navbar {
        padding: 10px; /* Decreases padding */
        font-size: 9px; /* Reduces font size */
        width: 100%; /* Sets width to fill the viewport */
    }

    /* Logo adjustments for smaller screens */
    .logo {
        width: 80px; /* Adjusts logo size for mobile */
    }

    /* Heading adjustments for smaller screens */
    .works h3 {
        font-size: 20px; /* Adjusts heading size for mobile */
    }

    /* Work container adjustments for smaller screens */
    .work-container {
        display: flex; /* Uses flexbox for layout */
        flex-wrap: wrap; /* Allows items to wrap */
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically */
        margin-top: 20px; /* Adds top margin */
    }

    /* Work container div adjustments for smaller screens */
    .work-container div {
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        width: 20%; /* Sets width of work items */
        margin: 10px; /* Adds margin around work items */
        position: relative; /* Sets positioning */
        overflow: hidden; /* Hides overflowing content */
    }

    /* Work container div image adjustments for smaller screens */
    .work-container div img {
        width: 100%; /* Makes images fill their container */
        height: auto; /* Preserves image aspect ratio */
        transition: transform 0.3s ease-in-out; /* Adds image transition */
    }

    /* Work container div image hover adjustments for smaller screens */
    .work-container div:hover img {
        transform: scale(1.05); /* Scales images on hover */
    }
}

/* Adjustments for screens between 481px and 768px wide */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Navbar adjustments for mid-sized screens */
    .navbar {
        padding: 15px; /* Increases padding */
        font-size: 10px; /* Adjusts font size */
    }

    /* Logo adjustments for mid-sized screens */
    .logo {
        width: 80px; /* Sets logo width */
    }
    
    /* Heading adjustments for mid-sized screens */
    .works h3 {
        font-size: 20px; /* Adjusts heading size for mid-sized screens */
    }

    /* Work container adjustments for mid-sized screens */
    .work-container {
        display: flex; /* Uses flexbox for layout */
        flex-wrap: wrap; /* Allows items to wrap */
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically */
        margin-top: 20px; /* Adds top margin */
    }

    /* Work container div adjustments for mid-sized screens */
    .work-container div {
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        width: 15%; /* Sets width of work items */
        margin: 10px; /* Adds margin around work items */
        position: relative; /* Sets positioning */
        overflow: hidden; /* Hides overflowing content */
    }

    /* Work container div image adjustments for mid-sized screens */
    .work-container div img {
        width: 100%; /* Makes images fill their container */
        height: auto; /* Preserves image aspect ratio */
        transition: transform 0.3s ease-in-out; /* Adds image transition */
    }

    /* Work container div image hover adjustments for mid-sized screens */
    .work-container div:hover img {
        transform: scale(1.05); /* Scales images on hover */
    }
}


/* ------------------------------------- */
/* Brand Page Styling */
/* ------------------------------------- */

/* Styles for the branding section */
.branding {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    color: white; /* Sets the text color to white */
    margin-top: 100px;
    width: 70%;
    margin-left: 10px;
}

/* Styles for the brand design */
.branddesign {
    position: relative;
    display: block;
    width: 30%;
    margin-top: -300px;
    margin-left: 1000px;
}

/* Styles for images within brand design */
.branddesign img {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
    position: absolute;
    width: 1000px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect for brand design */
.branddesign:hover {
    transform: scale(1.05);
}

/* Additional styles for branding */
.branding {
    justify-content: center; /* Align content horizontally to center */
    align-items: left; /* Align content vertically to the left */
}



/* Adjustments for screens up to 480 pixels wide */
@media screen and (max-width: 480px) {
    /* Adjustments for text paragraphs within branding */
    .branding p {
        font-size: 12px; /* Reduces font size */
        padding: 10px; /* Adds padding */
        width: 90%; /* Sets width to 90% of the container */
        margin-top: 20px; /* Adds top margin */
    }

    /* Adjustments for heading 2 within branding */
    .branding h2 {
        font-size: 25px; /* Sets font size */
        margin-top: -100px; /* Moves the element upward by 100 pixels */
    }

    /* Adjustments for the navbar */
    .navbar {
        padding: 10px; /* Decreases padding */
        font-size: 9px; /* Reduces font size */
        width: 100%; /* Sets width to fill the viewport */
    }

    /* Adjustments for the branddesign element */
    .branddesign {
        width: 60%; /* Sets width to 60% */
        right: 780px; /* Moves the element to the right by 110% of its container */
        top: 70%; /* Positions the element 70% from the top */
    }
}

/* Adjustments for screens wider than 769 pixels */
@media screen and (min-width: 769px) and (max-width: 1024px)  {
    /* Adjustments for text paragraphs within branding */
    .branding p {
        font-size: 12px; /* Increases font size */
        padding: 20px; /* Increases padding */
        width: 100%; /* Sets width to 100% of the container */
        margin-top: 10px; /* Adds top margin */
        
    }

    /* Adjustments for heading 2 within branding */
    .brand h2 {
        font-size: 35px; /* Sets font size */
    }

    /* Adjustments for the navbar */
    .navbar {
        padding: 15px; /* Increases padding */
    }

    /* Adjustments for the branddesign element */
    .branddesign {
        width: 40%; /* Sets width to 30% */
        right: 90%; /* Positions the element 60% from the left */
        margin-top: -250px;
        bottom: 50%; /* Positions the element 15% from the top */
    }
}


/* -------------------------------------- */
/* Studio Page Styling */
/* -------------------------------------- */

/* Styles for heading 3 in studio section */
.stu h3 {
    font-family: 'Times New Roman';
    font-size: 15px;
    padding-left: 40px;
    letter-spacing: 2px;
    color: #fff;
}

/* Styles for heading 4 in studio section */
.stu h4 {
    font-family: 'Segoe UI';
    font-size: 20px;
    padding-left: 40px;
    margin-top: 1%;
    letter-spacing: 2px;
    color: #009688;
    text-shadow: 10px;
}

/* Styles for paragraph 1 in studio section */
.p1 {
    font-family: 'Times New Roman';
    font-size: 20px;
    padding-left: 40px;
    margin-top: 0%;
    letter-spacing: 2px;
    color: #fff;
}

/* Styles for awards heading in studio section */
.awards h4 {
    font-family: 'Segoe UI';
    font-size: 20px;
    padding-left: 40px;
    margin-top: 1%;
    letter-spacing: 2px;
    color: #009688;
    text-shadow: 10px;
}

/* Styles for paragraph 2 in studio section */
.p2 {
    font-family: 'Times New Roman';
    font-size: 20px;
    padding-left: 40px;
    margin-top: 0%;
    letter-spacing: 1.5px;
    color: #fff;
}

/* Styles for projects heading in studio section */
.projects h4 {
    font-family: 'Segoe UI';
    font-size: 20px;
    padding-left: 40px;
    margin-top: 1%;
    letter-spacing: 1.5px;
    color: #009688;
    text-shadow: 10px;
}

/* Styles for paragraph 3 in studio section */
.p3 {
    font-family: 'Times New Roman';
    font-size: 20px;
    padding-left: 40px;
    margin-top: 0%;
    letter-spacing: 2px;
    color: #fff; 
}

/* Styles for testament paragraph in studio section */
.testament p {
    font-family: 'Segoe UI';
    font-size: 15px;
    margin-left: 240px;
    margin-top: -270px;
    letter-spacing: 1.5;
    color: aliceblue;
    text-shadow: 10px;
}

/* Styles for founder heading 3 in studio section */
.founder h3 {
    font-family: 'Segoe UI';
    font-size: 20px;
    margin-left: 700px;
    margin-top: -250px;
    letter-spacing: 2px;
    color: #009688;
    text-shadow: 10px;
}

/* Styles for founder heading 4 in studio section */
.founder h4 {
    font-family: 'Segoe UI';
    font-size: 20px;
    margin-left: 700px;
    margin-top: 30px;
    letter-spacing: 2px;
    color: #009688;
    text-shadow: 10px;
}

/* Styles for founder paragraph in studio section */
.founder p {
    font-family: 'Segoe UI';
    font-size: 15px;
    margin-left: 700px;
    margin-top: -30px;
    letter-spacing: 1.5px;
    color: aliceblue;
    text-shadow: 10px;
}

/* Styles for founder image in studio section */
.founder img {
    position: absolute;
    top: 250px;
    left: 1240px;
    width: 200px;
    height: auto;
}



@media screen and (max-width: 480px) {
    /* Adjustments for the navbar at smaller screen sizes */
    .navbar {
        padding: 10px; /* Decreases padding for the navbar */
        font-size: 9px; /* Reduces font size for better fit on smaller screens */
        width: 100%; /* Sets the width of the navbar to occupy the entire viewport */
    }

    /* Adjustments for various headings and paragraphs in the studio section */
    .stu h4,
    .p1,
    .awards h4,
    .p2,
    .projects h4,
    .p3 {
        font-size: 16px; /* Increases font size for these elements */
        padding-left: 10px; /* Adds left padding for better readability */
        color: #009688; /* Changes text color to a specific shade of green */
    }

    /* Adjustments for the testament paragraph in the studio section */
    .testament p {
        font-size: 10px; /* Reduces font size for better fit */
        margin-left: 120px; /* Sets left margin for positioning */
        margin-top: -180px; /* Adjusts top margin to reposition the element */
        color: #fff; /* Sets text color to white */
    }

    /* Adjustments for the founder's h4 element in the studio section */
    .founder h4 {
        color: #009688; /* Changes text color to a specific shade of green */
        margin-left: 120px; /* Sets left margin for positioning */
        margin-top: 20px; /* Adjusts top margin to position the element */
    }

    /* Adjustments for the founder's h3 element in the studio section */
    .founder h3 {
        color: #009688; /* Changes text color to a specific shade of green */
        margin-left: 120px; /* Sets left margin for positioning */
        margin-top: 20px; /* Adjusts top margin to position the element */
    }

    /* Adjustments for the founder's paragraph in the studio section */
    .founder p {
        font-size: 10px; /* Reduces font size for better fit */
        margin-left: 120px; /* Sets left margin for positioning */
        margin-top: 5px; /* Adjusts top margin to position the element */
        color: #fff; /* Sets text color to white */
    }

    /* Adjustments for the founder's image in the studio section */
    .founder img {
        width: 20%; /* Sets the width of the image */
        left: 40%; /* Positions the image horizontally at 40% of the viewport */
        top: 10%; /* Positions the image vertically at 10% of the viewport */
    }
}



/* Tablet Media Query */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        padding: 20px; /* Adjusted navbar padding for tablets */
        font-size: 12px; /* Adjusted font size for tablets */
        width: 100%; /* Adjusted width to occupy full width */
    }

    .stu h4,
    .p1,
    .awards h4,
    .p2,
    .projects h4,
    .p3 {
        font-size: 18px; /* Increased font size for better readability on tablets */
        padding-left: 15px; /* Adjusted padding for text elements */
        color: #009688; /* Adjusted text color if needed */
        /* Add other necessary styles */
    }

    .testament p {
        font-size: 12px; /* Increased font size for better readability on tablets */
        margin-left: 150px; /* Adjusted margin for better layout */
        margin-top: -300px; /* Adjusted top margin */
        color: #fff; /* Adjusted text color if needed */
        /* Add other necessary styles */
    }

    .founder h4,
    .founder h3 {
        color: #009688; /* Adjusted text color if needed */
        margin-left: 150px; /* Adjusted margin for better layout */
        margin-top: 20px; /* Adjusted top margin */
        /* Add other necessary styles */
    }

    .founder p {
        font-size: 12px; /* Increased font size for better readability on tablets */
        margin-left: 150px; /* Adjusted margin for better layout */
        margin-top: 5px; /* Adjusted top margin */
        color: #fff; /* Adjusted text color if needed */
        /* Add other necessary styles */
    }

    .founder img {
        width: 20%; /* Adjusted image width */
        left: 70%; /* Adjusted image position */
        top: 50%; /* Adjusted image position */
        /* Add other necessary styles */
    }

    .footer {
        flex-direction: row; /* Revert to horizontal layout */
        justify-content: space-around; /* Space items evenly */
        align-items: center; /* Center content vertically */
        height: 250px; /* Adjusted height for tablet */
    }

    #signup {
        width: auto; /* Reset width for form */
        margin-bottom: 0; /* Remove extra margin */
    }

    .footer-para {
        text-align: center; /* Center text */
        font-size: 12px; /* Adjust font size */
        margin: 0; /* Reset margin */
        margin-top: 75px;
    }

    .footer-links {
        text-align: center; /* Center links */
    }

    .footer-links ul {
        padding: 0;
        margin: 0px;
        display: flex; /* Display links in a row */
        justify-content: center; /* Center links horizontally */
    }

    .footer-links ul li {
        margin: 10 0px; /* Add space between links */
    }

    .copyright {
        text-align: center; /* Center text */
        font-size: 12px; /* Adjust font size */
        margin: 10px 0; /* Add space */
        margin-top: 0px;
        margin-left: 180px;
    }
}