*
{
    margin :0;
    padding :0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('Living.jpg');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.navbar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 120px;
    cursor: pointer;
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after
{
    width: 100%;

}

.works{
    text-align: center;
    color:#009688;
    
}

.workpic1{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 250px;
    left: 40px;
    width: 20px;
    height: 50vh;
}

.workpic2{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 250px;
    left: 280px;
    width: 20px;
    height: 50vh;
}

.workpic3{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 250px;
    left: 520px;
    width: 20px;
    height: auto;
}

.workpic4{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 250px;
    left: 760px;
    width: 20px;
    height: auto;
}

.workpic5{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 250px;
    left: 1000px;
    width: 20px;
    height: auto;
}

.workpic6{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 250px;
    left: 1240px;
    width: 20px;
    height: auto;
}

.workpic7{
    background: linear-gradient(to bottom, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 40px;
    width: 20px;
    height: auto;
}

.workpic8{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 280px;
    width: 20px;
    height: auto;
}

.workpic9{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 520px;
    width: 20px;
    height: auto;
}

.workpic10{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 520px;
    width: 20px;
    height: auto;
}

.workpic11{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 760px;
    width: 20px;
    height: auto;
}

.workpic12{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 1000px;
    width: 20px;
    height: auto;
}

.workpic13{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 1240px;
    width: 20px;
    height: auto;
}







