*
{
    margin :0;
    padding :0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('image/Living.jpg');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.navbar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 120px;
    cursor: pointer;
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after
{
    width: 100%;

}

.works {
    text-align: center;
    color: #009688;
    margin-top: 10px;
}

.works h3 {
    font-size: 24px;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.work-container div {
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    width: 12%;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.work-container div img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.work-container div:hover img {
    transform: scale(1.05);
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 10px;
        font-size: 9px;
        width: 100%; 
    }

    .logo {
        width: 80px; /* Adjust logo size for mobile */
    }


    .works h3 {
        font-size: 20px; /* Adjust heading size for mobile */
    }

    .work-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .work-container div {
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        width: 20%;
        margin: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .work-container div img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
    
    .work-container div:hover img {
        transform: scale(1.05);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        padding: 15px;
        font-size: 10px;
    }

    .logo {
        width: 80px;
    }
    
    .works h3 {
        font-size: 20px; /* Adjust heading size for mobile */
    }

    .work-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .work-container div {
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        width: 15%;
        margin: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .work-container div img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
    
    .work-container div:hover img {
        transform: scale(1.05);
    }
}






